// satoshi
@font-face {
    font-family: satoshiLight;
    src: url(../../assets/fonts/satoshi/Satoshi-Light.otf);
}

@font-face {
    font-family: satoshiItalic;
    src: url(../../assets/fonts/satoshi/Satoshi-Italic.otf);
}

@font-face {
    font-family: satoshiLightItalic;
    src: url(../../assets/fonts/satoshi/Satoshi-LightItalic.otf);
}

@font-face {
    font-family: satoshiMedium;
    src: url(../../assets/fonts/satoshi/Satoshi-Medium.otf);
}

@font-face {
    font-family: satoshiMediumItalic;
    src: url(../../assets/fonts/satoshi/Satoshi-MediumItalic.otf);
}

@font-face {
    font-family: satoshi;
    src: url(../../assets/fonts/satoshi/Satoshi-Regular.otf);
}

@font-face {
    font-family: satoshiBold;
    src: url(../../assets/fonts/satoshi/Satoshi-Bold.otf);
}

@font-face {
    font-family: satoshiBoldItalic;
    src: url(../../assets/fonts/satoshi/Satoshi-BoldItalic.otf);
}

// intergralCf

@font-face {
    font-family: intergralCfmedium;
    src: url(../../assets/fonts/IntegralCf/integralcf-medium.otf);
}

@font-face {
    font-family: intergralCf;
    src: url(../../assets/fonts/IntegralCf/integralcf-regular.otf);
}

@font-face {
    font-family: intergralCfbold;
    src: url(../../assets/fonts/IntegralCf/integralcf-bold.otf);
}

@font-face {
    font-family: intergralCfsemibold;
    src: url(../../assets/fonts/IntegralCf/integralcf-semibold.otf);
}

@font-face {
    font-family: intergralCfextrabold;
    src: url(../../assets/fonts/IntegralCf/integralcf-extrabold.otf);
}