// utilities
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

h1 {
    @include responsive-font(64px, 48px, 36px, 28px, 24px);
}

h2 {
    @include responsive-font(48px, 36px, 28px, 24px, 22px);
}

h3 {
    @include responsive-font(40px, 30px, 24px, 20px, 18px);
}

h4 {
    @include responsive-font(32px, 26px, 20px, 18px, 16px);
}

h5 {
    @include responsive-font(24px, 20px, 18px, 16px, 14px);
}

h6 {
    @include responsive-font(20px, 18px, 16px, 14px, 12px);
}

p {
    color: $black-fade;
    @include responsive-font(16px, 14px, 14px, 12px, 10px);
}


// Provides utility classes to control font weight for text styling.
.fw-bolder {
    font-weight: bolder;
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.fw-light {
    font-weight: light;
}

.fw-lighter {
    font-weight: lighter;
}